

<%= render partial: 'errors/errors', locals: {model: @design} %>
  
<%= image_tag(@design.design_url) %>
<div>
<p><%= format_created_at(@design) %></p>
<p><%= @design.description %></p>
<p>Views: <%= @design.views %></p>
<p>Likes: <%= @design.likes %></p>
<p>Dislikes: <%= @design.dislikes %></p>
</div>

<%= link_to 'Back to Designs', designs_path %> <br>   <%#=  link to all designs %>
<%= link_to 'Edit', edit_design_path %><br>
<%= link_to "Delete", design_path(@design), method: "delete" %>

  


<%= form_with(model: [@design, @comment]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :design_id, value: @design.id %>
    <%= f.text_area :content %>
    <%= f.submit :comment %>
<% end %>

COMMENTS:
<ul>
<%= render @comments %>
</ul>