<%= form_with model: model do |f| %> <%#= combines form with and tag, but here we specify the model %>
<%= f.label :name %>      <%#= but if we want it like form_tag then we should use url: collage_path  %>
<%= f.text_field :name %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<h3> Create New Design Within This Collage </h3>
<%= f.fields_for :designs do |c| %>
<%= c.label :title %>
<%= c.text_field :title %><br>
<%= c.label :description %>
<%= c.text_field :description %><br>
<%= c.label :design_url %>
<%= c.text_field :design_url %><br>
<hr>
<% end %>

<%= f.submit submit_button %>

<% end %>