
<h1><%= @collage.name %></h1>
<div>
    <p> <%= @collage.description %></p>
</div>

<h1>THIS COLLAGES DESIGNS: </h1>
<ul>
<% @collage.designs.each do |collage| %>
    <li><%= link_to collage.title, design_path(collage) %> - <%= format_created_at(collage) %></li>
<% end %>
</ul>

<%= link_to "Takes us to collage Designs path", collage_designs_path(:collage_id) %><br>design
<%= link_to 'back', collages_path %><br>
<%= link_to 'Delete this Collage', collage_path, method: 'delete'%><br>

